# Python virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Database
*.db
*.sqlite3

# Logs
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Exported backups
storage/*.spm

